<%= render 'shared/error', obj: @admin %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
	        <%= form_for(@admin, :html => { class: "form-horizontal", role: "form" }) do |f| %>
		        <div class="form-group">
		            <div class="control-label col-sm-2">
		             <%= f.label :name %>
		            </div>
		            <div class="col-sm-8">
		             <%= f.text_field :name, class: "form-control", placeholder: "Enter name", autofocus: true %>
		            </div>
		        </div>
		        <div class="form-group">
		            <div class="control-label col-sm-2">
		             <%= f.label :email %>
		            </div>
		            <div class="col-sm-8">
		             <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
		            </div>
		        </div>
		        <div class="form-group">
		            <div class="control-label col-sm-2">
		             <%= f.label :password %>
		            </div>
		            <div class="col-sm-8">
		             <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
		            </div>
		        </div>
			    <form class="form-inline">
				    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Role</label>
					    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
						    <option selected>Choose...</option>
						    <option value="1">Product Manager</option>
						    <option value="2">Order Manager</option>
						    <option value="3">Cart Manager</option>
					    </select>
			    </form>
			    <div class="form-group">
				    <label for="inputAddress">Address</label>
				    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
			    </div>
				<div class="form-group">
				    <label for="inputAddress2">Address 2</label>
				    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
				</div>
			    <div class="form-row">
				    <div class="form-group col-md-6">
					    <label for="inputCity">City</label>
					    <input type="text" class="form-control" id="inputCity">
				    </div>
		            <div class="form-group col-md-4">
			            <label for="inputState">State</label>
				            <select id="inputState" class="form-control">
						        <option selected>Choose...</option>
						        <option>Rajasthan</option>
						        <option>Punjab</option>
						        <option>Gujrat</option>
						        <option>Bihar</option>
						        <option>Maharashtra</option>
						        <option>Delhi</option>
						        <option>U.P</option>
						    </select>
		            </div>
			        <div class="form-group col-md-2">
				        <label for="inputZip">Zip</label>
				        <input type="text" class="form-control" id="inputZip">
			        </div>
			    </div>
				<div class="form-group">
			        <div class="col-sm-8 col-sm-offset-2">
			          <%= f.submit(@admin.new_record? ? "Sign up" : "Update your account", class: "btn btn-primary btn-lg") %>
			        </div>
			    </div>
	        <% end %>
	    </div>
    </div>
</div>
