<% if admin_signed_in? %>
 Logged in as <strong> <%= current_admin.email %></strong>
   <%= link_to 'Edit profile' , edit_admin_registration_path, :class => 'navbar-link' %> |
   <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link' %> |
   <%= link_to '[ Admins Listing Page]', admins_path %>
<% else %>
   <%= link_to "Admin Sign up", new_admin_registration_path, :class => 'navbar-link' %> |
   <%= link_to "Admin Login", new_admin_session_path, :class => 'navbar-link' %> |
<% end %>
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
<div class="col-lg-12">
  <div class="card rounded-0 mt-5 mb-5">
	  <div class="card-body">
    <h1 class="text-center">Listing Users</h1>
  </div>
</div>

  <%= link_to "Create New User",users_new_path ,class: "btn btn-primary btn-lg mb-4 rounded-0"  %>

  <table class="table table-bordered">
	  <thead>
		  <tr>
		    <th>Name</th>
        <th>Email</th>
        <th>contact</th>
        <th>Pin Code</th>
        <th>Address</th>
			</tr>
	  </thead>
  </table>
</div>
